@import "../global.scss";

.hesitation {
    background: radial-gradient(
        209.62% 1164.8% at 4.41% 14.31%,
        #d2d4ee 0%,
        #ffffff 100%
    );
    padding-bottom: 50px;
    padding-top: 20px;

    @media (max-width: $breakpoint-md) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

