.results {
    padding-left: 0px;
    margin-top: -24px;

    li {
        color: #666;
        font-size: 14px;
        list-style-position: inside;
        list-style: none;
        display: block;
        border: #ddd solid;
        border-width: 0px 1px 1px 1px;
        padding: 3px 0;;

        a {
            background-image: none;
            text-decoration: none;
            display: block;
            color: inherit;
            padding: 6px;
        }

        &:first-of-type {
            border-top-width: 1px;
        }

        &:last-of-type {
            border-radius: 0 0 4px 4px;
        }

        &:hover,
        &.active {
            background-color: #ddd;
        }

    }


}
