.logos {
    display: flex;
    gap: var(--spacing-4v);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logos img {
     max-width: 180px;
     max-height: 100px;
}

.hesitation {
    background-image: radial-gradient(circle at top left, #D2D4EE, #FFFFFF);
    padding-bottom: 50px;
    padding-top: 20px;
}

.cards {
    display: flex;
    // flex-direction: column;
    gap: var(--spacing-8v);
}

@media (max-width: 768px) {
    
    .logos {
        flex-direction: column;
        // gap: var(--spacing-4v);
    }
    
    .logos img {
         max-width: 110px;
         max-height: 90px;
    }
       
}
