@import "./global.scss";

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    max-width: 1440px;
    padding-left: 180px;
    padding-right: 180px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $breakpoint-lg) {
        padding-left: 90px;
        padding-right: 90px;
    }

    @media (max-width: $breakpoint-md) {
        padding-left: 0;
        padding-right: 0;
    }
}
