.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    max-width: 1440px;
    padding-left: 180px;
    padding-right: 180px;
    margin-left: auto;
    margin-right: auto;
}
