@import "../../global.scss";

.wizard {
    min-width: 288px;
    width: 800px;
    min-height: 700px;
   
    
    @media (max-width: $breakpoint-xl) {
        width: 600px;
    }
    @media (max-width: $breakpoint-md) {
        width: 400px;
    }
    @media (max-width: $breakpoint-sm) {
        width: 288px;
    }
}
