.primaryButton {
    background-color: var(--color-primary-background);
    color: var(--color-primary-text);
    box-shadow: 4px 4px 0px 0px var(--color-primary-shadow);
    border-radius: 4px;
    transition:
        background-color 0.1s,
        transform 0.1s;

    &:hover {
        background-color: var(--color-primary-background-hover) !important;
        color: var(--color-primary-text-hover);
    }

    &:active {
        background-color: var(--color-primary-background-active) !important;
        transform: translateY(2px);
        box-shadow: 2px 2px 0px 0px var(--color-primary-shadow);
    }
}

.secondaryButton,
.tertiaryButton {
    background-color: var(--color-secondary-background) !important;
    color: var(--color-secondary-text);
    border-bottom: 2px solid var(--color-secondary-text) !important;
    box-shadow: unset !important;
    transition:
        background-color 0.1s,
        transform 0.1s;
    padding: 0;

    &:hover {
        background-color: var(--color-secondary-background) !important;
        border-bottom: 2px solid var(--color-secondary-text-hover) !important;
    }

    &:active {
        border-bottom: 0 !important;
    }
}

.tertiaryButton {
    border-bottom: 0 !important;
}
