.primaryButton, .secondaryButton, .tertiaryButton {
    color: var(--color-green-700);
}


.primaryButton {
    background-color: var(--color-primary-500);
    box-shadow: 4px 4px 0px 0px var(--color-green-900);
    border-radius: 4px;
    transition:
        background-color 0.1s,
        transform 0.1s;

    &:hover {
        background-color: var(--color-primary-300) !important;
        color: var(--color-green-700);
    }

    &:active {
        background-color: var(--color-primary-700) !important;
        transform: translateY(2px);
        box-shadow: 2px 2px 0px 0px var(--color-green-900);
    }
}

.secondaryButton {
    background-color: var(--color-white) !important;
    border-bottom: 2px solid var(--color-green-700) !important;
    box-shadow: unset !important;
    transition:
        background-color 0.1s,
        transform 0.1s;
    padding: 0;

    &:hover {
        background-color: var(--color-white) !important;
        border-bottom: 2px solid var(--color-primary-700) !important;
    }

    &:active {
        border-bottom: 0 !important;
    }
}

.tertiaryButton {
    border-radius: 4px;   
}
