.footerPacoupa {
    background-color: var(--color-footer-background);
    box-shadow: none;
}


.border {
    margin-top: var(--spacing-6w);
    border-top: 1px solid var(--color-secondary-text-hov)
}
